<!DOCTYPE html>
<html lang="en">


<!-- munchbox/  05 Dec 2019 10:05:53 GMT -->
<head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="#">
    <meta name="description" content="#">
    <title>Munchbox | Food Delivery Hub</title>
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="#">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="#">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="#">
    <link rel="apple-touch-icon-precomposed" href="#">
    <link rel="shortcut icon" href="#">
    <!-- Bootstrap -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Fontawesome -->
    <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet">
    <!-- Flaticons -->
    <link href="{% static 'sassets/css/font/flaticon.css' %}" rel="stylesheet">
    <!-- Swiper Slider -->
    <link href="{% static 'assets/css/swiper.min.css' %}" rel="stylesheet">
    <!-- Range Slider -->
    <link href="{% static 'assets/css/ion.rangeSlider.min.css' %}" rel="stylesheet">
    <!-- magnific popup -->
    <link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet">
    <!-- Nice Select -->
    <link href="{% static 'assets/css/nice-select.css' %}" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <!-- Custom Responsive -->
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&amp;display=swap" rel="stylesheet">
    <!-- place -->
</head>

<body>
    <!-- Navigation -->
    <div class="header">
        <header class="full-width">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mainNavCol">
                        <!-- logo -->
                        <div class="logo mainNavCol">
                            <a href="index-2.html">
                                <img src="{% static 'assets/images/logo.png' %}" class="img-fluid" alt="Logo">
                            </a>
                        </div>
                        <!-- logo -->
                        <div class="main-search mainNavCol">

                        </div>
                        <div class="right-side fw-700 mainNavCol">
                            <div class="gem-points">


                            <!-- mobile search -->
                            <div class="mobile-search">
                                <a href="#" data-toggle="modal" data-target="#search-box"> <i class="fas fa-search"></i>
                                </a>
                            </div>
                            <!-- mobile search -->
                            <!-- user account -->
                            <div class="user-details p-relative">
                                <span class="navbar-text">
                                    <a href="{% url 'register' %}">Регистрация</a> | <a href="% url 'sign_in' %">Авторизация</a>
                                </span>
                            </div>
                            <!-- mobile search -->
                            <!-- user notification -->

                            <!-- user cart -->
                        </div>
                    </div>
                    <div class="col-sm-12 mobile-search">
                        <div class="mobile-address">
                            <a href="#" class="delivery-add" data-toggle="modal" data-target="#address-box"> <span class="address">Brooklyn, NY</span>
                            </a>
                        </div>
                        <div class="sorting-addressbox"> <span class="full-address text-light-green">Brooklyn, NY 10041</span>
                            <div class="btns">
                                <div class="filter-btn">
                                    <button type="button"><i class="fas fa-sliders-h text-light-green fs-18"></i>
                  </button> <span class="text-light-green">Sort</span>
                                </div>
                                <div class="filter-btn">
                                    <button type="button"><i class="fas fa-filter text-light-green fs-18"></i>
                  </button> <span class="text-light-green">Filter</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="main-sec"></div>
    <div>
    <img src="{{product.image.url}}" alt="" style="width:500px" width="100px">
        <div class="info" style="width:400px;display:flex;justify-content:flex-end">
    <h4>Цена: {{product.price}} сом</h4>

    </div>
    <p>Описание: {{product.description|safe}}</p>
        </div>
    <p>Ингридиенты: {{product.ingredients}}</p>
    <button type="button" class="btn btn-dark"><a style="color:white" href="{% url 'order_entry' %}" class="btn btn-bitbucket w-70"><i class="ti ti-shopping-cart"></i>Заказать</a></button>
    <div class="footer-top section-padding bg-black">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-sm-4 col-6 mb-sm-20">
                    <div class="icon-box"> <span class="text-light-green"><i class="flaticon-credit-card-1"></i></span>
                        <span class="text-custom-white">100% безопасная<br> оплата </span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-6 mb-sm-20">
                    <div class="icon-box"> <span class="text-light-green"><i class="flaticon-wallet-1"></i></span>
                        <span class="text-custom-white">Много вариантов<br> оплаты</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-6 mb-sm-20">
                    <div class="icon-box"> <span class="text-light-green"><i class="flaticon-help"></i></span>
                        <span class="text-custom-white">Служба поддержки<br> 24/7</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-6">
                    <div class="icon-box"> <span class="text-light-green"><i class="flaticon-truck"></i></span>
                        <span class="text-custom-white">Бесплатная доставка<br> от заказа с суммой 50$</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-6">
                    <div class="icon-box"> <span class="text-light-green"><i class="flaticon-guarantee"></i></span>
                        <span class="text-custom-white">Лучшая<br> Цена</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-6">
                    <div class="icon-box"> <span class="text-light-green"><i class="flaticon-app-file-symbol"></i></span>
                        <span class="text-custom-white">Быстрая доставка<br> по городу</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="section-padding bg-light-theme pt-0 u-line bg-black">
        <div class="u-line instagram-slider swiper-container">
            <ul class="hm-list hm-instagram swiper-wrapper">
                <li class="swiper-slide">
                    <a href="#"><img src="{% static 'assets/images/restaurants/250x200/insta-3.jpg' %}" alt="instagram"></a>
                </li>

                <li class="swiper-slide">
                    <a href="#"><img src="{% static 'assets/images/fries.jpg' %}" alt="instagram"></a>
                </li>
                <li class="swiper-slide">
                    <a href="#"><img src="{% static 'assets/images/restaurants/250x200/insta-4.jpg' %}" alt="instagram"></a>
                </li>
                <li class="swiper-slide">
                    <a href="#"><img src="{% static 'assets/images/restaurants/250x200/insta-5.jpg' %}" alt="instagram"></a>
                </li>
                <li class="swiper-slide">
                    <a href="#"><img src="{% static 'assets/images/doner.jpeg' %}" alt="instagram"></a>
                </li>
                <li class="swiper-slide">
                    <a href="#"><img src="{% static 'assets/images/shaurma.jpg' %}" alt="instagram"></a>
                </li>
                <li class="swiper-slide">
                    <a href="#"><img src="{% static 'assets/images/pizza.jpg' %}" alt="instagram"></a>
                </li>
            </ul>
        </div>
        <div class="container-fluid">
            <div class="row">

        </div>
    </footer>
    <div class="copyright bg-black">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="payment-logo mb-md-20"> <span class="text-light-white fs-14 mr-3">Мы принимаем</span>
                        <div class="payemt-icon">
                            <img src="{% static 'assets/images/card-front.jpg' %}" alt="#">
                            <img src="{% static 'assets/images/visa.jpg' %}" alt="#">
                            <img src="{% static 'assets/images/amex-card-front.png' %}" alt="#">
                            <img src="{% static 'assets/images/mastercard.png' %}" alt="#">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-center medewithlove align-self-center">

                </div>

            </div>
        </div>
    </div>
    <!-- footer -->
    <!-- modal boxes -->
    <div class="modal fade" id="address-box">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title fw-700">Change Address</h4>
                </div>
                <div class="modal-body">
                    <div class="location-picker">
                        <input type="text" class="form-control" placeholder="Enter a new address">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="search-box">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="search-box p-relative full-width">
                    </div>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
    <!-- Place all Scripts Here -->
    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <!-- Popper -->
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- Range Slider -->
    <script src="{% static 'assets/js/ion.rangeSlider.min.js' %}"></script>
    <!-- Swiper Slider -->
    <script src="{% static 'assets/js/swiper.min.js' %}"></script>
    <!-- Nice Select -->
    <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
    <!-- magnific popup -->
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnd9JwZvXty-1gHZihMoFhJtCXmHfeRQg"></script>
    <!-- sticky sidebar -->
    <script src="{% static 'assets/js/sticksy.js' %}"></script>
    <!-- Munch Box Js -->
    <script src="{% static 'assets/js/munchbox.js' %}"></script>
    <!-- /Place all Scripts Here -->
</body>


<!-- munchbox/  05 Dec 2019 10:11:37 GMT -->
</html>